/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/database/database.sqlite


*.sql
.env.backup*
.env.*
!.env.example

sipandu-before-restore-*
sipandu-stable-db-*
storage/framework/testing/
*.before-api-resolver
*.before-phase22
*.before-final-fix